VITE_SUPABASE_URL=https://ymbllfhsfynrurmyrghj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InltYmxsZmhzZnlucnVybXlyZ2hqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4MDQ4MTUsImV4cCI6MjA5NTM4MDgxNX0.ImGf0XQbcxdtkqwIkwac-se76d9AVe6alNX8bU-uiVg
VITE_API_URL=http://localhost:5000/api
